jupyter==1.1.1
python-dotenv==1.1.0
ibm-cos-sdk==2.13.6
ibm-cos-sdk-core==2.13.6
ibm-cos-sdk-s3transfer==2.13.6
ibm_watson_machine_learning==1.0.367
ibm_watsonx_ai==1.6.0
ipykernel==6.29.5
ipython==9.3.0
lifelines==0.30.3
langchain==0.3.30
langchain-core==0.3.86
langchain-community==0.3.27
langchain-openai==0.3.27
langchain-ibm==0.3.22
langgraph==1.0.1
langgraph-prebuilt==1.0.1
duckduckgo_search==8.1.1
wikipedia==1.4.0
yfinance==1.5.2
requests==2.32.2
openai==1.93.0
langgraph-checkpoint==3.0.1
langgraph-sdk==0.2.15
langgraph-prebuilt==1.0.1
langsmith==0.4.1
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
youtube-search==2.1.2